@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --separator-color: #D9DADC;
  --general-pink: #EE10B0;
}

.app-background {
  background-color: #181818;

  .app-general-text {
    font-size: 13px;
    font-weight: 700;
    line-height: 15.73px;
  }
}